* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
}

header {
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #3e2723ff;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
}

.menu {
  display: flex;
  align-items: baseline;
  gap: 20px;
}

.search-bar {
  width: 0;
  padding: 10px;
  border-radius: 5px;
  transition: width 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
  border: 1px solid #ccc;
}

.search-bar.open {
  width: 200px;
  opacity: 1;
  visibility: visible;
}

.cart-container {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
}

.cart-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.cart-modal.show {
  display: flex;
}

.cart-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.cart-total {
  margin-top: 10px;
  text-align: end;
}

span#cart-total {
  color: red;
}


/* Estilo base para todos os botões */
button, .cart-item button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
}

button:hover, .cart-item button:hover {
  transform: scale(1.05);
}

button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(56, 142, 60, 0.7);
}

/* Botões específicos */
#close-cart {
  background-color: #757575;
  color: white;
}

#close-cart:hover {
  background-color: #d32f2f;
}

#checkout-button {
  background-color: #388e3c;
  color: white;
}

#checkout-button:hover {
  background-color: #2c6f2f;
}

.cart-button {
  background-color: #ff7043ff;
  color: white;
  margin-top: 10px;
}

.cart-button:hover {
  background-color: rgb(87, 54, 48);
}

.search-toggle {
  display: flex;
  align-items: center;
  background-color: #2e7d32ff;
  color: white;
}

.add-to-cart {
  background-color: #ffc107ff;
  color: white;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: bold;
}

.add-to-cart:hover {
  background-color: #e68900;
}

.item-info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.item-name {
  text-transform: uppercase;
}

.item-price {
font-weight: bold;

}

.cart-increase-item {
  background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 8px !important;
}

.cart-decrease-item {
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding: 8px !important;
  font-size: 20px !important;
}

.cart-remove-item {
  background-color: transparent;
  color: rgb(0, 0, 0);
}


.cart-item button:hover {
  opacity: 0.8;
}

svg {
  width: 20px;
  pointer-events: none;
}

/* Contêineres de botão */
.cart-btn-container, .btn-container {
  display: flex;
  gap: 10px;
  padding: 8px 0px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: center;
}

.cart-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-container {
  flex-direction: row;
  gap: 5px;
  margin-top: 10px;
  justify-content: space-between;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  margin: 20px 0;
}

section h2 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

ul li .detalhes {
  flex: 1;
}

.preco {
  margin-right: 10px;
  font-size: 16px;
}

/* Responsividade */
@media (max-width: 1250px) {
  header {
    justify-content: space-between;
  }

  .logo img {
    width: 90px;
  }
}

@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  .menu {
    gap: 10px;
  }

  .search-bar.open {
    width: 100%;
    max-width: 200px;
  }

  .container {
    padding: 0 10px;
  }

  section h2 {
    font-size: 20px;
  }

  ul li {
    flex-direction: column;
    align-items: flex-start;
  }

  ul li .detalhes {
    margin-bottom: 10px;
  }

  ul li button {
    width: 100%;
    margin-top: 10px;
  }

  .cart-content {
    width: 90%;
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .logo img {
    width: 80px;
  }

  .logo h1 {
    font-size: 18px;
  }

  .search-bar.open {
    max-width: 150px;
  }

  section h2 {
    font-size: 18px;
  }

  .preco {
    font-size: 14px;
  }

  button {
    padding: 8px;
    font-size: 12px;
  }
}
